

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

:root{
    --btnclr:#00aeef;
    --otherclr:#37c3a8;
    --clr:#43b1d2;
    --primary-color:#0c6daa;
    --secondary-color:#51bbd4;
    --third-color:#3886ba;
    --fourth-color:#9cc2dc;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s;
    text-decoration: none;
    text-transform: capitalize;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 15px;
}
a, a:hover, a:focus{
	text-decoration: none;
}
ul{
	margin: 0px;
	padding: 0px;
}
li{
	list-style: none;
}
img{
	max-width: 100%;
}
section, .container{
	position: relative;
}
.grid{
    display: grid !important;
}
.lead{
font-weight: 500;
}
p {
    font-size: 16px;
}
/* header */
.bglight {
    background: #fff;
}
body {
    background:  none !important;
}
.main-header{
    padding: 0rem 5%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid var(--secondary-color);
}
.main-header a {
    text-decoration: none;
}
#logo img{
    width: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.navbar-light {
    background: white !important;
}
.menu-icons{
    display: flex;
    align-items: center;
    padding: 0 13rem;
}
.inner-menu-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}
.inner-menu-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inner-menu-icons i{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    /* background: var(--secondary-color); */
    color: var(--secondary-color);
    border-radius: 100px;
    margin-right: 10px;
    font-size: 2rem;
}
.inner-menu-icons i:hover{
    transform: rotate(360deg);
    background: var(--fourth-color);
    cursor: pointer;
}
.inner-menu-content span{
font-size: 1.5rem;
}
.second-menu{
    padding: 2rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.navbar-navbar a{
    margin-right: 1rem;
    padding: 0rem 2rem;
    font-size: 1.5rem;
    color: black;
}
.navbar-navbar a:hover{
    background: var(--primary-color);
    color: white;
    border-radius: 10px;
}
.navbar-navbar.active{
    top: 35%;
}
.second-menu-icons {
    display: flex;
}
.second-menu-icons div{
    margin-left: 0rem;
    font-size: 2rem;
    /* background: var(--third-color); */
    color: var(--primary-color);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 150px;
   
    cursor: pointer;
}
.second-menu-icons div:hover{
    transform: rotate(360deg);
    background: var(--fourth-color);
}
#menu-bar{
    display: none;
}
.nav-link.active {
    color: var(--secondary-color) !important;
    font-weight: bolder !important;
}

/* header responsive */


@media (max-width:768px) {
    html{
        font-size: 55%;
    }
    .main-header{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        width: 100%;
        border-bottom: 3px solid var(--clr);
    }
    .inner-menu-icons i{
        margin-right: 1px;
       
    }
    .inner-menu-content span{
        font-size: 1rem;
        }

        .navbar-navbar{
            position: absolute;
            top: -100%;
            background: var(--btnclr);
            width: 100%;
            left: 0;
        }
        .navbar-navbar a{
            display: block;
            font-size: 1.5rem;
            margin: 1.5rem;
            padding: 1.5rem;
            background: var(--otherclr);
            border-radius: 10px;

        }
        #menu-bar{
            display: inline-block;
        }
        .background-content{
            
            text-align:center;
            margin: 0;
        }
        .background-content h1{
            width: 100%;
        }
        .menu-icons {
            display: flex;
            flex-direction: column;
            padding: 0 1rem;
        }
}

/* header end */

/* body {
    background: linear-gradient(90deg,#0c6daa 0%, #0c6daa 30%, #50bbd5  30%, #50bbd5 100%);
} */

.main {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 107, 121, 0.9)), to(rgba(1, 128, 145, 0.85))), url('../images/servicebgbg3.jpeg') top/cover no-repeat;
    background: -o-linear-gradient(rgba(0, 131, 148, 0.9), rgba(1, 141, 160, 0.85)), url('../images/servicebgbg3.jpeg') top/cover no-repeat;
    background: linear-gradient(rgba(0, 150, 155, 0.9), rgba(1, 129, 146, 0.85)), url('../images/servicebgbg3.jpeg') top/cover no-repeat;
    height: fit-content !important;
}


#logo img{
    width: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.contactUS {
    position: relative;
    /* width: 100%; */
    padding: 10px 100px;
    padding-bottom: 50px;
}
.contactUS .title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.form {
    grid-area: form;
}
.info {
    grid-area: info;
}
.map {
    grid-area: map;
}
.contact {
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}
.box {
    position: relative;
    display: grid;
    grid-template-columns: 2fr, 1fr;
    grid-template-rows: 5fr, 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px;
    margin-top: 20px;
}

/* form */
.formBox {
    position: relative;
    width: 100%;
}
.formBox .row50 {
    display: flex;
    gap: 20px;
}
.inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}
.formBox .row100 .inputBox {
    width: 100%;
}
.inputBox span {
    color: #50bbd5;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 16px;
}
.inputBox input {
    padding: 15px 10px;
    font-size: 1.1em;
    outline: none;
    border: none;
    background: #eee;
    border-radius: 5px;
    margin-bottom: 20px;
}
.inputBox textarea {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: none;
    background: #eee;
    border-radius: 5px;
    resize: none;
    margin-bottom: 10px;
    min-height: 120px;
}
.inputBox input[type="submit"] {
    background: #50bbd5;
    color: #fff;
    border: none;
    font-size: 2em;
    padding: 10px;
    max-width: 120px;
    font-weight: 500;
    cursor:  pointer;
}
.inputBox ::placeholder {
    color: #999;
    font-size: 16px;
}
.inputBox {
    position: relative;
}
.inputBox  .form-icon {
    position: absolute;
    right: 10px;
    top:10px;
    font-size: 18px;
    color: #999;
}
.info {
    background: var(--secondary-color);
    color: #fff;
}
.info h2 {
    color: #fff;
}
.info  div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}
.info  div span {
    min-width: 40px;
    height: 40px;
    background: #50bbd5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}
.info div p {
    color: #fff;
}
.info  div a {
    color: #fff !important;
    text-decoration: none;
    font-size: 1.5em;
}
.sci {
    margin-top: 10px;
    display: flex;
    font-size: 20px;
}
.sci li {
    list-style: none;
    margin-right: 15px;
}
.sci li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    /* color: #ccc; */
}
.sci li a:hover {
    color: #fff;
}

.map {
    padding: 0;
    height: 250px;
}

.map iframe {
    width: 100%;
    height: 100%;
}


/* responsive */
@media screen and (max-width:991px) {
    body {
        background: #00aeef !important;
    }
    .contactUS {
        padding: 20px;
    }
    .box {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "form" "info" "map";
    }
    .map {
        min-height: 300px;
    }
    .formBox .row50 {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .inputBox {
        width: 100%;
    }
    .contact {
        padding: 30px;
    }
}
@media screen and (max-width:678px) {
    body {
        background: #00aeef;
    }
}



/* footer */
.footer {
    padding: 0px 3rem;
    padding-top: 100px;
    /* background: #fff; */
}
.footer h1 {
    margin-top: 30px;
    margin-bottom: 20px;
}
.footer a {
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--secondary-color) !important;
}
.footer a:hover {
    color: var(--primary-color) !important;
}
.links {
    margin-bottom: 50px;
}
.links a {
    margin-bottom: 20px;
}
.footer-icons{
    display: flex;
    flex-direction: column;
}
.footer-menu-icons {
    display: flex;
    margin-bottom: 20px;
}
.footer-menu-icons i{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: var(--secondary-color);
    color: white;
    border-radius: 100px;
    margin-right: 10px;
    font-size: 2rem;
}
.footer-menu-content{
    display: flex;
    flex-direction: column;
}
.inner-footer-icons {
    display: flex;
}
.inner-footer-content {
    margin-left: 30px;
    margin-bottom: 10px;
    color: #333 !important;
}
@media screen and (max-width:678px) {
    .footer {
        padding: 50px 5rem;
    }
}