@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root{
  --btnclr:#00aeef;
  --otherclr:#37c3a8;
  --clr:#43b1d2;
  --primary-color:#0c6daa;
  --secondary-color:#51bbd4;
  --third-color:#3886ba;
  --fourth-color:#9cc2dc;
}


* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

html::-webkit-scrollbar {
  width: .5rem;
}
a {
  text-decoration: none;
}
html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 5rem;
}

section {
  padding: 5rem 9%;
}

.heading {
  padding-bottom: 2rem;
  text-align: center;
  font-size: 3.5rem;
  color: #130f40;
}

.heading span {
  color: var(--secondary-color);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 2.8rem;
  border-radius: 5rem;
  /* border-top-left-radius: 0; */
  border: 0.2rem solid #130f40;
  cursor: pointer;
  background: none;
  color: #130f40;
  font-size: 1.7rem;
  overflow: hidden;
  z-index: 0;
  position: relative;
}
.btn-two {
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 2.8rem;
  border-radius: 5rem;
  /* border-top-left-radius: 0; */
  border: 0.2rem solid var(--secondary-color);
  cursor: pointer;
  background: var(--secondary-color);
  color: #fff;
  font-size: 1.7rem;
  overflow: hidden;
  z-index: 0;
  position: relative;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #130f40;
  z-index: -1;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  -webkit-clip-path: circle(0% at 0% 5%);
          clip-path: circle(0% at 0% 5%);
}

.btn:hover::before {
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}

.btn:hover {
  color: #fff;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
}

.header {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0rem 5%;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  /* -webkit-transform: translateY(-10rem);
          transform: translateY(-10rem); */
}

.header.active {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

/* .header .logo {
  font-size: 2.5rem;
  color: #130f40;
  font-weight: bolder;
} */
.header .logo img {
  width: 100px;
}

.header .logo i {
  color: var(--secondary-color);
}
#logo img{
  width: 100px;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.7rem;
  color: #666;
}

.header .navbar a:hover {
  color: var(--secondary-color);
}
.header .navbar a.active {
  color: var(--secondary-color);
}

.header .icons a,
.header .icons div {
  font-size: 2.5rem;
  margin-left: 1.5rem;
  color: #130f40;
  cursor: pointer;
}

.header .icons a:hover,
.header .icons div:hover {
  color: var(--secondary-color);
}

.header .login-form {
  position: absolute;
  top: 120%;
  right: 2rem;
  width: 35rem;
  border-radius: 1rem;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: none;
}

.header .login-form.active {
  display: block;
  -webkit-animation: fadeIn .4s linear;
          animation: fadeIn .4s linear;
}

.header .login-form h3 {
  color: #130f40;
  font-size: 2.5rem;
  padding-bottom: .5rem;
}

.header .login-form .box {
  width: 100%;
  border-bottom: 0.2rem solid #130f40;
  border-width: .1rem;
  padding: 1.5rem 0;
  font-size: 1.6rem;
  color: #130f40;
  text-transform: none;
  margin: 1rem 0;
}

.header .login-form .remember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  padding: 1rem 0;
}

.header .login-form .remember label {
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
}

.header .login-form .btn {
  width: 100%;
  text-align: center;
  margin: 1.5rem 0;
}

.header .login-form .btn:hover {
  background: #130f40;
}

.header .login-form .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.header .login-form .links a {
  font-size: 1.4rem;
  color: var(--secondary-color);
}

.header .login-form .links a:hover {
  color: #130f40;
  text-decoration: underline;
}

#menu-btn {
  display: none;
}

.home {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: url(../image/plane3.jpg.crdownload) no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.home .content {
  width: 50rem;
}

.home .content h3 {
  font-size: 6rem;
  color: #fff;
  padding-bottom: 1rem;
}

.home .content h3 span {
  color: var(--secondary-color);
}

.home .content .btn {
  color: #fff;
  border-color: #fff;
  margin-right: 20px;
}

.home .content .btn:hover {
  color: #130f40;
}

.home .content .btn::before {
  background: #fff;
}

.home .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12rem;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .content h3 {
  color: #130f40;
  font-size: 4rem;
}

.about .content h3 span {
  color: var(--secondary-color);
}

.about .content p {
  font-size: 1.6rem;
  color: #666;
  padding: 1rem 0;
  line-height: 2;
}

.dog-food,
.cat-food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem 0;
}

.dog-food .image,
.cat-food .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.dog-food .image img,
.cat-food .image img {
  width: 100%;
}

.dog-food .content,
.cat-food .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  text-align: center;
  padding: 2rem;
}

.dog-food .content h3,
.cat-food .content h3 {
  font-size: 3.5rem;
  color: #130f40;
}

.dog-food .content h3 span,
.cat-food .content h3 span {
  color: var(--secondary-color);
}

.dog-food .content p,
.cat-food .content p {
  padding: 1rem 0;
  line-height: 2;
  color: #666;
  font-size: 1.6rem;
}

.dog-food .content .amount,
.cat-food .content .amount {
  font-size: 3.5rem;
  color: #130f40;
  padding: .5rem 0;
}

.dog-food .content a img,
.cat-food .content a img {
  height: 15rem;
  margin-top: 1rem;
}

.dog-food .content a:hover img,
.cat-food .content a:hover img {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.cat-food {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.shop .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.shop .box-container .box {
  position: relative;
  overflow: hidden;
}

.shop .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.shop .box-container .box:hover .icons {
  -webkit-transform: translateX(0rem);
          transform: translateX(0rem);
}

.shop .box-container .box .image {
  height: 45rem;
  width: 100%;
  overflow: hidden;
}

.shop .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shop .box-container .box .icons {
  position: absolute;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  -webkit-transform: translateX(10rem);
          transform: translateX(10rem);
}

.shop .box-container .box .icons a {
  display: block;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  font-size: 2.2rem;
  margin-top: 1rem;
  background: #fff;
  color: #130f40;
  text-align: center;
}

.shop .box-container .box .icons a:hover {
  color: #fff;
  background: var(--secondary-color);
}

.shop .box-container .box .content {
  padding: 1rem 0;
  text-align: center;
}

.shop .box-container .box .content h3 {
  font-size: 2.2rem;
  color: #130f40;
  padding-bottom: .5rem;
}

.shop .box-container .box .content .amount {
  font-size: 2rem;
  color: var(--secondary-color);
}

.services .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
}

.services .box-container .box {
  background: #eee;
  padding: 3rem;
  text-align: center;
  /* border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%; */
}

/* .services .box-container .box:nth-child(even) {
  border-radius: 79% 21% 81% 19% / 58% 93% 7% 42%;
} */

.services .box-container .box:hover {
  border-radius: .5rem;
}

.services .box-container .box i {
  height: 6.5rem;
  width: 6.5rem;
  line-height: 6.5rem;
  font-size: 3rem;
  color: #fff;
  background: var(--secondary-color);
  border-radius: 50%;
  margin-bottom: .5rem;
}

.services .box-container .box h3 {
  font-size: 2.2rem;
  color: #130f40;
  padding: 1rem 0;
}

.plan .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.plan .box-container .box {
  position: relative;
  padding: 2rem;
  border-radius: .5rem;
  position: relative;
  margin-bottom: 2rem;
  background: #eee;
}

.plan .box-container .box .btn {
  position: absolute;
  bottom: -2rem;
  right: 2rem;
  background: #fff;
}

.plan .box-container .box .title {
  text-align: center;
  color: var(--secondary-color);
  font-size: 2rem;
}

.plan .box-container .box .day {
  text-align: center;
  color: #130f40;
  font-size: 3.5rem;
}

.plan .box-container .box .icon {
  color: var(--secondary-color);
  font-size: 5rem;
  padding: 2rem 0;
}

.plan .box-container .box .list {
  margin: 1rem 0;
}

.plan .box-container .box .list p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
}

.plan .box-container .box .list p span {
  color: var(--secondary-color);
}

.plan .box-container .box .amount {
  font-size: 5rem;
  font-weight: bolder;
  color: #130f40;
}

.plan .box-container .box .amount span {
  font-size: 3rem;
}


.footer {
  position: relative;
  background: url(../image/footer_background.jpg) no-repeat;
  background-position: center;
  background-size: center;
  padding-top: 10rem;
  padding-bottom: 2rem;
}

.footer img {
  position: absolute;
  top: 0;
  left: 0;
  height: 10rem;
  width: 100%;
}

.footer .share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.footer .share a {
  color: #fff;
  border-color: #fff;
}

.footer .share a:hover {
  color: #130f40;
}

.footer .share a::before {
  background: #fff;
}

.footer .share a i {
  padding-right: .5rem;
}

.footer .credit {
  text-align: center;
  color: #fff;
  font-size: 2rem;
  padding: 2rem 1rem;
  margin-top: 2.5rem;
}

.footer .credit span {
  color: var(--secondary-color);
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 0rem 2rem;
  }
  section {
    padding: 5rem 2rem;
  }
  .home {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-position: right;
  }
  .home .content {
    text-align: center;
    padding-bottom: 5rem;
  }
  .home .content h3 {
    font-size: 4.5rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    display: block;
    margin: 2rem;
    font-size: 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .header .login-form {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */


.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}
.slider .slide-track {
  animation: scroll 10s linear infinite;
  display: flex;
  width: calc(250px * 15);
}
.slider .slide {
  height: 100px;
  width: 250px;
}

@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(calc(-250px * 7));
  }
}



/* footer */
.footer {
  padding: 20px 3rem;
  padding-top: 100px;
  /* background: #fff; */
  color: #fff !important;
}
.footer h1 {
  margin-top: 30px;
  margin-bottom: 20px;
}
.footer p {
  font-size: 12px;
}
.footer a {
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 10px;
  color: var(--secondary-color) !important;
}
.footer a:hover {
  color: var(--primary-color) !important;
}
.links {
  margin-bottom: 50px;
}
.links a {
  margin-bottom: 20px;
}
.footer-icons{
  display: flex;
  flex-direction: column;
}
.footer-menu-icons {
  display: flex;
  margin-bottom: 20px;
}
.footer-menu-icons i{
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: var(--secondary-color);
  color: white;
  border-radius: 100px;
  margin-right: 10px;
  font-size: 2rem;
}
.footer-menu-content{
  display: flex;
  flex-direction: column;
}
.inner-footer-icons {
  display: flex;
}
.inner-footer-content {
  margin-left: 30px;
  margin-bottom: 10px;
  color: #fff !important;
}
@media screen and (max-width:678px) {
  .footer {
      padding: 50px 5rem;
  }
}


.modal-title {
  font-size: 20px !important;
}
.modal-body {
  font-size: 14px;
}

.footer .img {
  height: 50px;
  width: 100px;
}
.footer .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}